*.so
*.o
*.dylib
*.dll
*.nes
*.fds
*.ips
*.ups
/nestopia
*.js
*.bc
*~
.npmignore
source/core/database/

# Autotools cruft
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
source/core/.deps/
source/core/.dirstamp
source/core/api/.deps/
source/core/api/.dirstamp
source/core/board/.deps/
source/core/board/.dirstamp
source/core/input/.deps/
source/core/input/.dirstamp
source/core/vssystem/.deps/
source/core/vssystem/.dirstamp
source/fltkui/.deps/
source/fltkui/.dirstamp
/.idea/.gitignore
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/customTargets.xml
/.idea/discord.xml
/.idea/editor.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/vcs.xml
/build
/build/shaders/shaders/crtea.fs
/build/shaders/shaders/default.fs
/build/shaders/shaders/default.vs
/build/shaders/shaders/mmpx.fs
/build/shaders/shaders/omniscale.fs
/build/shaders/shaders/sharp-bilinear.fs
/build/shaders/crtea.fs
/build/shaders/default.fs
/build/shaders/default.vs
/build/shaders/mmpx.fs
/build/shaders/omniscale.fs
/build/shaders/sharp-bilinear.fs
/build/source/core/.deps/.dirstamp
/build/source/core/.deps/nestopia-NstApu.Po
/build/source/core/.deps/nestopia-NstAssert.Po
/build/source/core/.deps/nestopia-NstCartridge.Po
/build/source/core/.deps/nestopia-NstCartridgeInes.Po
/build/source/core/.deps/nestopia-NstCartridgeRomset.Po
/build/source/core/.deps/nestopia-NstCartridgeUnif.Po
/build/source/core/.deps/nestopia-NstCheats.Po
/build/source/core/.deps/nestopia-NstChecksum.Po
/build/source/core/.deps/nestopia-NstChips.Po
/build/source/core/.deps/nestopia-NstCore.Po
/build/source/core/.deps/nestopia-NstCpu.Po
/build/source/core/.deps/nestopia-NstCrc32.Po
/build/source/core/.deps/nestopia-NstFds.Po
/build/source/core/.deps/nestopia-NstFile.Po
/build/source/core/.deps/nestopia-NstHomebrew.Po
/build/source/core/.deps/nestopia-NstImage.Po
/build/source/core/.deps/nestopia-NstImageDatabase.Po
/build/source/core/.deps/nestopia-NstLog.Po
/build/source/core/.deps/nestopia-NstMachine.Po
/build/source/core/.deps/nestopia-NstMemory.Po
/build/source/core/.deps/nestopia-NstNsf.Po
/build/source/core/.deps/nestopia-NstPatcher.Po
/build/source/core/.deps/nestopia-NstPatcherIps.Po
/build/source/core/.deps/nestopia-NstPatcherUps.Po
/build/source/core/.deps/nestopia-NstPins.Po
/build/source/core/.deps/nestopia-NstPpu.Po
/build/source/core/.deps/nestopia-NstProperties.Po
/build/source/core/.deps/nestopia-NstRam.Po
/build/source/core/.deps/nestopia-NstSha1.Po
/build/source/core/.deps/nestopia-NstSoundPcm.Po
/build/source/core/.deps/nestopia-NstSoundPlayer.Po
/build/source/core/.deps/nestopia-NstSoundRenderer.Po
/build/source/core/.deps/nestopia-NstState.Po
/build/source/core/.deps/nestopia-NstStream.Po
/build/source/core/.deps/nestopia-NstTracker.Po
/build/source/core/.deps/nestopia-NstTrackerMovie.Po
/build/source/core/.deps/nestopia-NstTrackerRewinder.Po
/build/source/core/.deps/nestopia-NstVector.Po
/build/source/core/.deps/nestopia-NstVideoFilterNone.Po
/build/source/core/.deps/nestopia-NstVideoFilterNtsc.Po
/build/source/core/.deps/nestopia-NstVideoFilterNtscCfg.Po
/build/source/core/.deps/nestopia-NstVideoRenderer.Po
/build/source/core/.deps/nestopia-NstVideoScreen.Po
/build/source/core/.deps/nestopia-NstXml.Po
/build/source/core/.deps/nestopia-NstZlib.Po
/build/source/core/api/.deps/.dirstamp
/build/source/core/api/.deps/nestopia-NstApiBarcodeReader.Po
/build/source/core/api/.deps/nestopia-NstApiCartridge.Po
/build/source/core/api/.deps/nestopia-NstApiCheats.Po
/build/source/core/api/.deps/nestopia-NstApiDipSwitches.Po
/build/source/core/api/.deps/nestopia-NstApiEmulator.Po
/build/source/core/api/.deps/nestopia-NstApiFds.Po
/build/source/core/api/.deps/nestopia-NstApiHomebrew.Po
/build/source/core/api/.deps/nestopia-NstApiInput.Po
/build/source/core/api/.deps/nestopia-NstApiMachine.Po
/build/source/core/api/.deps/nestopia-NstApiMovie.Po
/build/source/core/api/.deps/nestopia-NstApiNsf.Po
/build/source/core/api/.deps/nestopia-NstApiRewinder.Po
/build/source/core/api/.deps/nestopia-NstApiSound.Po
/build/source/core/api/.deps/nestopia-NstApiTapeRecorder.Po
/build/source/core/api/.deps/nestopia-NstApiUser.Po
/build/source/core/api/.deps/nestopia-NstApiVideo.Po
/build/source/core/api/.dirstamp
/build/source/core/board/.deps/.dirstamp
/build/source/core/board/.deps/nestopia-NstBoard.Po
/build/source/core/board/.deps/nestopia-NstBoardAcclaimMcAcc.Po
/build/source/core/board/.deps/nestopia-NstBoardAction53.Po
/build/source/core/board/.deps/nestopia-NstBoardAe.Po
/build/source/core/board/.deps/nestopia-NstBoardAgci.Po
/build/source/core/board/.deps/nestopia-NstBoardAveD1012.Po
/build/source/core/board/.deps/nestopia-NstBoardAveNina.Po
/build/source/core/board/.deps/nestopia-NstBoardAxRom.Po
/build/source/core/board/.deps/nestopia-NstBoardBandai24c0x.Po
/build/source/core/board/.deps/nestopia-NstBoardBandaiAerobicsStudio.Po
/build/source/core/board/.deps/nestopia-NstBoardBandaiDatach.Po
/build/source/core/board/.deps/nestopia-NstBoardBandaiKaraokeStudio.Po
/build/source/core/board/.deps/nestopia-NstBoardBandaiLz93d50.Po
/build/source/core/board/.deps/nestopia-NstBoardBandaiLz93d50ex.Po
/build/source/core/board/.deps/nestopia-NstBoardBandaiOekaKids.Po
/build/source/core/board/.deps/nestopia-NstBoardBenshengBs5.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc15in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc20in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc21in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc22Games.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc31in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc35in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc36in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc64in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc72in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc76in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc110in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc120in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc150in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc800in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc1200in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc8157.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc60311c.Po
/build/source/core/board/.deps/nestopia-NstBoardBmc9999999in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcA65as.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcBallgames11in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcCh001.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcCtc65.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcFamily4646B.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcFk23c.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcGamestarA.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcGamestarB.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcGolden190in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcGoldenCard6in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcGoldenGame260in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcHero.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcMarioParty7in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcNovelDiamond.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcPowerjoy84in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcResetBased4in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcSuper22Games.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcSuper24in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcSuper40in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcSuper700in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcSuperBig7in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcSuperGun20in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcSuperHiK4in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcSuperHiK300in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcSuperVision16in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcT262.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcVrc4.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcVt5201.Po
/build/source/core/board/.deps/nestopia-NstBoardBmcY2k64in1.Po
/build/source/core/board/.deps/nestopia-NstBoardBtl2708.Po
/build/source/core/board/.deps/nestopia-NstBoardBtl6035052.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlAx5705.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlDragonNinja.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlGeniusMerioBros.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlMarioBaby.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlPikachuY2k.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlShuiGuanPipe.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlSmb2a.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlSmb2b.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlSmb2c.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlSmb3.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlSuperBros11.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlT230.Po
/build/source/core/board/.deps/nestopia-NstBoardBtlTobidaseDaisakusen.Po
/build/source/core/board/.deps/nestopia-NstBoardBxRom.Po
/build/source/core/board/.deps/nestopia-NstBoardCaltron.Po
/build/source/core/board/.deps/nestopia-NstBoardCamerica.Po
/build/source/core/board/.deps/nestopia-NstBoardCneDecathlon.Po
/build/source/core/board/.deps/nestopia-NstBoardCnePsb.Po
/build/source/core/board/.deps/nestopia-NstBoardCneShlz.Po
/build/source/core/board/.deps/nestopia-NstBoardCony.Po
/build/source/core/board/.deps/nestopia-NstBoardCxRom.Po
/build/source/core/board/.deps/nestopia-NstBoardDiscrete.Po
/build/source/core/board/.deps/nestopia-NstBoardDreamtech.Po
/build/source/core/board/.deps/nestopia-NstBoardEvent.Po
/build/source/core/board/.deps/nestopia-NstBoardFb.Po
/build/source/core/board/.deps/nestopia-NstBoardFfe.Po
/build/source/core/board/.deps/nestopia-NstBoardFujiya.Po
/build/source/core/board/.deps/nestopia-NstBoardFukutake.Po
/build/source/core/board/.deps/nestopia-NstBoardFutureMedia.Po
/build/source/core/board/.deps/nestopia-NstBoardGouder.Po
/build/source/core/board/.deps/nestopia-NstBoardGxRom.Po
/build/source/core/board/.deps/nestopia-NstBoardHenggedianzi.Po
/build/source/core/board/.deps/nestopia-NstBoardHes.Po
/build/source/core/board/.deps/nestopia-NstBoardHosenkan.Po
/build/source/core/board/.deps/nestopia-NstBoardInlNsf.Po
/build/source/core/board/.deps/nestopia-NstBoardIremG101.Po
/build/source/core/board/.deps/nestopia-NstBoardIremH3001.Po
/build/source/core/board/.deps/nestopia-NstBoardIremHolyDiver.Po
/build/source/core/board/.deps/nestopia-NstBoardIremKaiketsu.Po
/build/source/core/board/.deps/nestopia-NstBoardIremLrog017.Po
/build/source/core/board/.deps/nestopia-NstBoardJalecoJf11.Po
/build/source/core/board/.deps/nestopia-NstBoardJalecoJf13.Po
/build/source/core/board/.deps/nestopia-NstBoardJalecoJf16.Po
/build/source/core/board/.deps/nestopia-NstBoardJalecoJf17.Po
/build/source/core/board/.deps/nestopia-NstBoardJalecoJf19.Po
/build/source/core/board/.deps/nestopia-NstBoardJalecoSs88006.Po
/build/source/core/board/.deps/nestopia-NstBoardJyCompany.Po
/build/source/core/board/.deps/nestopia-NstBoardKaiser.Po
/build/source/core/board/.deps/nestopia-NstBoardKasing.Po
/build/source/core/board/.deps/nestopia-NstBoardKayH2288.Po
/build/source/core/board/.deps/nestopia-NstBoardKayPandaPrince.Po
/build/source/core/board/.deps/nestopia-NstBoardKonamiVrc1.Po
/build/source/core/board/.deps/nestopia-NstBoardKonamiVrc2.Po
/build/source/core/board/.deps/nestopia-NstBoardKonamiVrc3.Po
/build/source/core/board/.deps/nestopia-NstBoardKonamiVrc4.Po
/build/source/core/board/.deps/nestopia-NstBoardKonamiVrc6.Po
/build/source/core/board/.deps/nestopia-NstBoardKonamiVrc7.Po
/build/source/core/board/.deps/nestopia-NstBoardKonamiVsSystem.Po
/build/source/core/board/.deps/nestopia-NstBoardMagicKidGoogoo.Po
/build/source/core/board/.deps/nestopia-NstBoardMagicSeries.Po
/build/source/core/board/.deps/nestopia-NstBoardMmc1.Po
/build/source/core/board/.deps/nestopia-NstBoardMmc2.Po
/build/source/core/board/.deps/nestopia-NstBoardMmc3.Po
/build/source/core/board/.deps/nestopia-NstBoardMmc4.Po
/build/source/core/board/.deps/nestopia-NstBoardMmc5.Po
/build/source/core/board/.deps/nestopia-NstBoardMmc6.Po
/build/source/core/board/.deps/nestopia-NstBoardNamcot34xx.Po
/build/source/core/board/.deps/nestopia-NstBoardNamcot163.Po
/build/source/core/board/.deps/nestopia-NstBoardNamcot175.Po
/build/source/core/board/.deps/nestopia-NstBoardNamcot340.Po
/build/source/core/board/.deps/nestopia-NstBoardNanjing.Po
/build/source/core/board/.deps/nestopia-NstBoardNihon.Po
/build/source/core/board/.deps/nestopia-NstBoardNitra.Po
/build/source/core/board/.deps/nestopia-NstBoardNtdec.Po
/build/source/core/board/.deps/nestopia-NstBoardOpenCorp.Po
/build/source/core/board/.deps/nestopia-NstBoardQj.Po
/build/source/core/board/.deps/nestopia-NstBoardRcm.Po
/build/source/core/board/.deps/nestopia-NstBoardRexSoftDb5z.Po
/build/source/core/board/.deps/nestopia-NstBoardRexSoftSl1632.Po
/build/source/core/board/.deps/nestopia-NstBoardRumbleStation.Po
/build/source/core/board/.deps/nestopia-NstBoardSachen74x374.Po
/build/source/core/board/.deps/nestopia-NstBoardSachenS8259.Po
/build/source/core/board/.deps/nestopia-NstBoardSachenSa0036.Po
/build/source/core/board/.deps/nestopia-NstBoardSachenSa0037.Po
/build/source/core/board/.deps/nestopia-NstBoardSachenSa72007.Po
/build/source/core/board/.deps/nestopia-NstBoardSachenSa72008.Po
/build/source/core/board/.deps/nestopia-NstBoardSachenStreetHeroes.Po
/build/source/core/board/.deps/nestopia-NstBoardSachenTca01.Po
/build/source/core/board/.deps/nestopia-NstBoardSachenTcu.Po
/build/source/core/board/.deps/nestopia-NstBoardSomeriTeamSl12.Po
/build/source/core/board/.deps/nestopia-NstBoardSubor.Po
/build/source/core/board/.deps/nestopia-NstBoardSunsoft1.Po
/build/source/core/board/.deps/nestopia-NstBoardSunsoft2.Po
/build/source/core/board/.deps/nestopia-NstBoardSunsoft3.Po
/build/source/core/board/.deps/nestopia-NstBoardSunsoft4.Po
/build/source/core/board/.deps/nestopia-NstBoardSunsoft5b.Po
/build/source/core/board/.deps/nestopia-NstBoardSunsoftDcs.Po
/build/source/core/board/.deps/nestopia-NstBoardSunsoftFme7.Po
/build/source/core/board/.deps/nestopia-NstBoardSuperGameBoogerman.Po
/build/source/core/board/.deps/nestopia-NstBoardSuperGameLionKing.Po
/build/source/core/board/.deps/nestopia-NstBoardSuperGamePocahontas2.Po
/build/source/core/board/.deps/nestopia-NstBoardTaitoTc0190fmc.Po
/build/source/core/board/.deps/nestopia-NstBoardTaitoTc0190fmcPal16r4.Po
/build/source/core/board/.deps/nestopia-NstBoardTaitoX1005.Po
/build/source/core/board/.deps/nestopia-NstBoardTaitoX1017.Po
/build/source/core/board/.deps/nestopia-NstBoardTengen.Po
/build/source/core/board/.deps/nestopia-NstBoardTengenRambo1.Po
/build/source/core/board/.deps/nestopia-NstBoardTxc.Po
/build/source/core/board/.deps/nestopia-NstBoardTxcMxmdhtwo.Po
/build/source/core/board/.deps/nestopia-NstBoardTxcPoliceman.Po
/build/source/core/board/.deps/nestopia-NstBoardTxcTw.Po
/build/source/core/board/.deps/nestopia-NstBoardTxRom.Po
/build/source/core/board/.deps/nestopia-NstBoardUnl158b.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlA9746.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlCc21.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlEdu2000.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlFam250Schi24.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlKingOfFighters96.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlKingOfFighters97.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlMmc3BigPrgRom.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlMortalKombat2.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlN625092.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlRetX7Gbl.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlSuperFighter3.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlTf1201.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlWorldHero.Po
/build/source/core/board/.deps/nestopia-NstBoardUnlXzy.Po
/build/source/core/board/.deps/nestopia-NstBoardUxRom.Po
/build/source/core/board/.deps/nestopia-NstBoardVsSystem.Po
/build/source/core/board/.deps/nestopia-NstBoardWaixing.Po
/build/source/core/board/.deps/nestopia-NstBoardWaixingFfv.Po
/build/source/core/board/.deps/nestopia-NstBoardWaixingFs304.Po
/build/source/core/board/.deps/nestopia-NstBoardWaixingPs2.Po
/build/source/core/board/.deps/nestopia-NstBoardWaixingSecurity.Po
/build/source/core/board/.deps/nestopia-NstBoardWaixingSgz.Po
/build/source/core/board/.deps/nestopia-NstBoardWaixingSgzlz.Po
/build/source/core/board/.deps/nestopia-NstBoardWaixingSh2.Po
/build/source/core/board/.deps/nestopia-NstBoardWaixingZs.Po
/build/source/core/board/.deps/nestopia-NstBoardWhirlwind.Po
/build/source/core/board/.deps/nestopia-NstBoardZz.Po
/build/source/custom/.deps/nestopia-RewindManager.Po
/build/source/core/board/.dirstamp
/build/source/core/input/.deps/.dirstamp
/build/source/core/input/.deps/nestopia-NstInpAdapter.Po
/build/source/core/input/.deps/nestopia-NstInpBandaiHyperShot.Po
/build/source/core/input/.deps/nestopia-NstInpBarcodeWorld.Po
/build/source/core/input/.deps/nestopia-NstInpCrazyClimber.Po
/build/source/core/input/.deps/nestopia-NstInpDoremikkoKeyboard.Po
/build/source/core/input/.deps/nestopia-NstInpExcitingBoxing.Po
/build/source/core/input/.deps/nestopia-NstInpFamilyKeyboard.Po
/build/source/core/input/.deps/nestopia-NstInpFamilyTrainer.Po
/build/source/core/input/.deps/nestopia-NstInpHoriTrack.Po
/build/source/core/input/.deps/nestopia-NstInpKonamiHyperShot.Po
/build/source/core/input/.deps/nestopia-NstInpMahjong.Po
/build/source/core/input/.deps/nestopia-NstInpMouse.Po
/build/source/core/input/.deps/nestopia-NstInpOekaKidsTablet.Po
/build/source/core/input/.deps/nestopia-NstInpPachinko.Po
/build/source/core/input/.deps/nestopia-NstInpPad.Po
/build/source/core/input/.deps/nestopia-NstInpPaddle.Po
/build/source/core/input/.deps/nestopia-NstInpPartyTap.Po
/build/source/core/input/.deps/nestopia-NstInpPokkunMoguraa.Po
/build/source/core/input/.deps/nestopia-NstInpPowerGlove.Po
/build/source/core/input/.deps/nestopia-NstInpPowerPad.Po
/build/source/core/input/.deps/nestopia-NstInpRob.Po
/build/source/core/input/.deps/nestopia-NstInpSuborKeyboard.Po
/build/source/core/input/.deps/nestopia-NstInpTopRider.Po
/build/source/core/input/.deps/nestopia-NstInpTurboFile.Po
/build/source/core/input/.deps/nestopia-NstInpZapper.Po
/build/source/core/input/.dirstamp
/build/source/core/vssystem/.deps/.dirstamp
/build/source/core/vssystem/.deps/nestopia-NstVsRbiBaseball.Po
/build/source/core/vssystem/.deps/nestopia-NstVsSuperXevious.Po
/build/source/core/vssystem/.deps/nestopia-NstVsSystem.Po
/build/source/core/vssystem/.deps/nestopia-NstVsTkoBoxing.Po
/build/source/core/vssystem/.dirstamp
/build/source/core/.dirstamp
/build/source/custom/.deps/.dirstamp
/build/source/custom/.deps/nestopia-CustomClass.Po
/build/source/custom/.dirstamp
/build/source/fltkui/.deps/.dirstamp
/build/source/fltkui/.deps/nestopia-audiomanager.Po
/build/source/fltkui/.deps/nestopia-chtmanager.Po
/build/source/fltkui/.deps/nestopia-crc32.Po
/build/source/fltkui/.deps/nestopia-fltkui.Po
/build/source/fltkui/.deps/nestopia-fltkui_archive.Po
/build/source/fltkui/.deps/nestopia-fltkui_cheats.Po
/build/source/fltkui/.deps/nestopia-fltkui_settings.Po
/build/source/fltkui/.deps/nestopia-hasher.Po
/build/source/fltkui/.deps/nestopia-inputmanager.Po
/build/source/fltkui/.deps/nestopia-jg.Po
/build/source/fltkui/.deps/nestopia-jgmanager.Po
/build/source/fltkui/.deps/nestopia-lodepng.Po
/build/source/fltkui/.deps/nestopia-logdriver.Po
/build/source/fltkui/.deps/nestopia-md5.Po
/build/source/fltkui/.deps/nestopia-setmanager.Po
/build/source/fltkui/.deps/nestopia-uiadapter.Po
/build/source/fltkui/.deps/nestopia-videomanager.Po
/build/source/fltkui/.dirstamp
/build/nestopia
/build/NstDatabase.xml
/icons/256/Thumbs.db
/projects/.idea/.idea.nestopia/.idea/.gitignore
/projects/.idea/.idea.nestopia/.idea/.name
/projects/.idea/.idea.nestopia/.idea/encodings.xml
/projects/.idea/.idea.nestopia/.idea/indexLayout.xml
/projects/.idea/.idea.nestopia/.idea/vcs.xml
/source/core/api/NstApiMachine.cpp
/source/core/board/NstBoard.cpp
/source/core/NstMachine.cpp
/source/core/NstTracker.cpp
/source/custom/.deps/.dirstamp 2
/source/custom/.deps/nestopia-CustomClass 2.Po
/source/custom/.dirstamp 2
/source/custom/CustomClass.cpp
/source/custom/DataDiff.hpp
/source/custom/RewindManager.cpp
/source/custom/RewindManager.hpp
/source/custom/RingBuffer.hpp
/source/fltkui/.dirstamp 2
/source/fltkui/fltkui.cpp
/source/fltkui/fltkui.h
/source/fltkui/inputmanager.cpp
/source/fltkui/jg.cpp
/source/fltkui/uiadapter.cpp
/source/fltkui/uiadapter.h
/config 2.guess
/config 2.sub
/config 3.guess
/config 3.sub
/config 4.guess
/config 4.sub
/configure~ 2
/configure~ 2.vn1VU0QO7C
/configure~ 3
/configure~ 4
/configure~ 5
/configure~ 5.BX3B569jn5
/depcomp 2
/depcomp 3
/install-sh 2
/install-sh 3
/install-sh 4
/makeAndRun
/missing 2
/missing 3
/install-sh 5

/install*
/configure*
/config*
/depcomp*
/missing*
/build/source/
